In [1]:
import os
import cudf
import cupy
import numpy as np
import pandas as pd
from platform import python_version

print(f'python version: {python_version()}')

python version: 3.7.9

In [2]:
train = pd.read_csv('data/train.csv')
lectures = pd.read_csv('data/lectures.csv')
questions = pd.read_csv('data/questions.csv')
test = pd.read_csv('data/example_test.csv')

### Basic Info

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB

In [4]:
lectures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lecture_id  418 non-null    int64
 1   tag         418 non-null    int64
 2   part        418 non-null    int64
 3   type_of     418 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.2+ KB

In [5]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13523 entries, 0 to 13522
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   question_id     13523 non-null  int64
 1   bundle_id       13523 non-null  int64
 2   correct_answer  13523 non-null  int64
 3   part            13523 non-null  int64
 4   tags            13522 non-null  object
dtypes: int64(4), object(1)
memory usage: 528.4+ KB

In [6]:
train.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [7]:
lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [8]:
lectures.type_of.unique()

array(['concept', 'solving question', 'intention', 'starter'],
      dtype=object)

In [9]:
questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [10]:
part_question_id = pd.DataFrame(questions.groupby('part').apply(lambda x: x['question_id'].unique())).reset_index().rename(columns = {0:"question_id"})

In [11]:
part_question_id

   part                                        question_id
0     1  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1     2  [196, 197, 198, 199, 200, 201, 202, 203, 204, ...
2     3  [1400, 1401, 1402, 1403, 1404, 1405, 1406, 140...
3     4  [2554, 2555, 2556, 2557, 2558, 2559, 2560, 256...
4     5  [3549, 3550, 3551, 3552, 3553, 3554, 3555, 355...
5     6  [6481, 6482, 6483, 6484, 6485, 6486, 6487, 648...
6     7  [6928, 6929, 6930, 6931, 6932, 6933, 6934, 693...

### Missing Data

In [12]:
missing_portion = train.isnull().sum()/len(train)    
print(missing_portion.sort_values(ascending=False))

prior_question_elapsed_time       0.023230
prior_question_had_explanation    0.003877
answered_correctly                0.000000
user_answer                       0.000000
task_container_id                 0.000000
content_type_id                   0.000000
content_id                        0.000000
user_id                           0.000000
timestamp                         0.000000
row_id                            0.000000
dtype: float64

In [13]:
#fill missing data
train['prior_question_elapsed_time'].fillna(0,  inplace=True)
train['prior_question_had_explanation'] = train['prior_question_had_explanation'].fillna(value = False).astype(bool)

### lectures ratio

In [14]:
np.sum(train.content_type_id) / train.shape[0]

0.019352223402764303

In [15]:
train.content_type_id.value_counts()
#0's are questions, 1's are lectures

0    99271300
1     1959032
Name: content_type_id, dtype: int64

In [16]:
print(f'number of users: {len(train.user_id.unique())}')
print(f'number of contents: {len(train.content_id.unique())}')

number of users: 393656
number of contents: 13782

In [17]:
content_id_count = train.content_id.value_counts()

In [18]:
content_id_count

6116     213605
6173     202106
4120     199372
175      195861
7876     190170
          ...
10006         1
10007         1
10008         1
1484          1
21169         1
Name: content_id, Length: 13782, dtype: int64

In [20]:
pd.DataFrame(content_id_count).to_csv('content_id_count.csv')

In [21]:
questions['tags'] = questions['tags'].astype(str)
tags = [x.split() for x in questions[questions.tags != "nan"].tags.values]
tags = [int(item) for elem in tags for item in elem]
tags = list(set(tags))

In [22]:
print(f'{len(tags)} unique tags')

188 unique tags

In [35]:
user_behavior = pd.DataFrame(train.groupby('user_id')['content_type_id'].sum())\
.reset_index().rename(columns={'content_type_id':'lectures_watched'})
user_behavior['total_interaction'] = train.groupby('user_id')['content_type_id'].count().tolist()
user_behavior['questions_answered'] = user_behavior['total_interaction'] - user_behavior['lectures_watched']
user_behavior = user_behavior.reindex(columns=['user_id','lectures_watched','questions_answered','total_interaction'])

In [36]:
user_behavior

           user_id  lectures_watched  questions_answered  total_interaction
0              115                 0                  46                 46
1              124                 0                  30                 30
2             2746                 1                  19                 20
3             5382                 3                 125                128
4             8623                 3                 109                112
...            ...               ...                 ...                ...
393651  2147470770                 2                 226                228
393652  2147470777                 6                 752                758
393653  2147481750                 0                  50                 50
393654  2147482216                 5                 275                280
393655  2147482888                 0                  27                 27

[393656 rows x 4 columns]

In [ ]:
user_behavior.to_csv('user_behavior.csv')

### Find the hardest questions, tags, parts

In [37]:
train[train['content_type_id'] == 0][['user_id','content_id','answered_correctly']]

              user_id  content_id  answered_correctly
0                 115        5692                   1
1                 115        5716                   1
2                 115         128                   1
3                 115        7860                   1
4                 115        7922                   1
...               ...         ...                 ...
101230327  2147482888        3586                   1
101230328  2147482888        6341                   1
101230329  2147482888        4212                   1
101230330  2147482888        6343                   0
101230331  2147482888        7995                   1

[99271300 rows x 3 columns]

In [38]:
#Key: question_id
#value: tasks associated 
questions = questions[questions.question_id != 10033]
questions_tag = dict(zip(questions.question_id,questions.tags))
questions_tag = {key: [int(x) for x in value.split()] for key, value in questions_tag.items()}
questions_tag

{0: [51, 131, 162, 38],
 1: [131, 36, 81],
 2: [131, 101, 162, 92],
 3: [131, 149, 162, 29],
 4: [131, 5, 162, 38],
 5: [131, 149, 162, 81],
 6: [10, 94, 162, 92],
 7: [61, 110, 162, 29],
 8: [131, 13, 162, 92],
 9: [10, 164, 81],
 10: [131, 36, 38],
 11: [51, 131, 81],
 12: [51, 131, 92],
 13: [131, 5, 29],
 14: [131, 101, 38],
 15: [61, 110, 81],
 16: [131, 99, 92],
 17: [131, 93, 162, 29],
 18: [61, 110, 92],
 19: [10, 70, 162, 81],
 20: [131, 149, 162, 38],
 21: [9, 10, 162, 81],
 22: [131, 5, 92],
 23: [9, 10, 29],
 24: [9, 10, 38],
 25: [9, 10, 81],
 26: [131, 104, 162, 92],
 27: [9, 10, 29],
 28: [131, 104, 92],
 29: [131, 13, 162, 81],
 30: [51, 131, 162, 38],
 31: [131, 40, 162, 81],
 32: [131, 104, 162, 92],
 33: [131, 93, 162, 38],
 34: [9, 10, 92],
 35: [131, 5, 81],
 36: [131, 149, 162, 38],
 37: [131, 40, 81],
 38: [10, 70, 162, 92],
 39: [10, 94, 38],
 40: [131, 104, 38],
 41: [131, 93, 162, 81],
 42: [131, 130, 92],
 43: [131, 13, 162, 29],
 44: [9, 10, 38],
 45: [10, 164, 162, 81],
 46: [131, 104, 162, 92],
 47: [9, 10, 29],
 48: [9, 10, 162, 92],
 49: [10, 164, 162, 81],
 50: [131, 101, 38],
 51: [131, 187, 81],
 52: [131, 99, 92],
 53: [131, 149, 162, 29],
 54: [9, 10, 38],
 55: [131, 36, 162, 81],
 56: [61, 110, 162, 92],
 57: [131, 93, 162, 29],
 58: [10, 164, 92],
 59: [131, 101, 162, 81],
 60: [9, 10, 38],
 61: [10, 164, 102],
 62: [131, 104, 102],
 63: [131, 149, 38],
 64: [131, 111, 92],
 65: [131, 36, 102],
 66: [131, 104, 38],
 67: [131, 187, 102],
 68: [51, 131, 102],
 69: [9, 10, 38],
 70: [51, 131, 162, 38],
 71: [131, 101, 162, 81],
 72: [131, 93, 162, 92],
 73: [131, 93, 162, 29],
 74: [9, 10, 38],
 75: [131, 5, 81],
 76: [10, 94, 92],
 77: [10, 164, 29],
 78: [131, 104, 92],
 79: [131, 36, 162, 81],
 80: [9, 10, 38],
 81: [131, 5, 102],
 82: [9, 10, 102],
 83: [61, 110, 38],
 84: [131, 36, 92],
 85: [131, 13, 102],
 86: [10, 70, 38],
 87: [131, 111, 102],
 88: [131, 101, 102],
 89: [131, 36, 38],
 90: [131, 93, 162, 38],
 91: [131, 104, 81],
 92: [131, 187, 92],
 93: [51, 131, 162, 29],
 94: [131, 5, 162, 38],
 95: [9, 10, 81],
 96: [9, 10, 92],
 97: [131, 93, 162, 29],
 98: [10, 178, 162, 81],
 99: [131, 187, 38],
 100: [131, 5, 81],
 101: [131, 187, 162, 92],
 102: [131, 104, 29],
 103: [9, 10, 38],
 104: [131, 93, 162, 81],
 105: [131, 104, 29],
 106: [10, 70, 162, 92],
 107: [10, 70, 81],
 108: [131, 104, 92],
 109: [131, 111, 81],
 110: [131, 13, 38],
 111: [131, 101, 162, 81],
 112: [131, 101, 92],
 113: [10, 70, 162, 38],
 114: [131, 36, 92],
 115: [131, 130, 162, 81],
 116: [10, 70, 38],
 117: [131, 101, 162, 81],
 118: [131, 104, 38],
 119: [51, 131, 102],
 120: [61, 110, 102],
 121: [131, 5, 38],
 122: [10, 164, 92],
 123: [61, 110, 102],
 124: [9, 10, 38],
 125: [131, 36, 102],
 126: [9, 10, 102],
 127: [131, 13, 38],
 128: [131, 149, 92],
 129: [9, 10, 81],
 130: [131, 99, 38],
 131: [131, 111, 162, 81],
 132: [131, 5, 162, 92],
 133: [131, 93, 38],
 134: [131, 104, 92],
 135: [131, 40, 162, 81],
 136: [131, 93, 38],
 137: [10, 70, 162, 81],
 138: [131, 101, 92],
 139: [131, 130, 162, 38],
 140: [131, 149, 92],
 141: [131, 111, 81],
 142: [10, 94, 38],
 143: [131, 104, 81],
 144: [131, 13, 92],
 145: [9, 10, 162, 38],
 146: [10, 164, 92],
 147: [131, 101, 81],
 148: [131, 13, 38],
 149: [131, 93, 81],
 150: [9, 10, 38],
 151: [131, 93, 162, 92],
 152: [131, 5, 162, 81],
 153: [10, 178, 38],
 154: [10, 70, 81],
 155: [131, 104, 92],
 156: [131, 101, 162, 38],
 157: [131, 5, 38],
 158: [131, 149, 102],
 159: [131, 5, 102],
 160: [131, 93, 38],
 161: [131, 40, 92],
 162: [9, 10, 102],
 163: [10, 70, 38],
 164: [61, 110, 102],
 165: [10, 178, 102],
 166: [131, 93, 38],
 167: [131, 130, 162, 38],
 168: [131, 187, 162, 81],
 169: [131, 149, 92],
 170: [131, 149, 29],
 171: [131, 93, 38],
 172: [10, 164, 81],
 173: [10, 70, 92],
 174: [10, 164, 29],
 175: [9, 10, 92],
 176: [9, 10, 81],
 177: [131, 149, 81],
 178: [131, 93, 162, 92],
 179: [131, 36, 29],
 180: [131, 149, 38],
 181: [131, 104, 81],
 182: [131, 36, 162, 92],
 183: [61, 110, 162, 29],
 184: [10, 94, 92],
 185: [131, 111, 81],
 186: [131, 104, 38],
 187: [131, 99, 102],
 188: [131, 5, 102],
 189: [9, 10, 38],
 190: [131, 104, 92],
 191: [131, 40, 102],
 192: [131, 104, 38],
 193: [10, 70, 102],
 194: [61, 110, 102],
 195: [10, 164, 38],
 196: [143, 30, 38, 92],
 197: [90, 100, 92, 102],
 198: [143, 176, 92, 29],
 199: [143, 140, 6, 38, 102],
 200: [2, 107, 92, 29],
 201: [143, 114, 38, 102],
 202: [138, 41, 92, 102],
 203: [143, 141, 38, 102],
 204: [137, 142, 38, 102],
 205: [90, 100, 92, 102],
 206: [143, 176, 6, 38, 81],
 207: [143, 30, 38, 92],
 208: [90, 119, 38, 102],
 209: [100, 148, 38, 102],
 210: [2, 107, 38, 92],
 211: [143, 140, 69, 92, 29],
 212: [143, 69, 114, 92, 102],
 213: [90, 100, 92, 102],
 214: [62, 155, 163, 92, 102],
 215: [129, 143, 30, 92, 29],
 216: [143, 105, 38, 102],
 217: [143, 71, 29, 102],
 218: [137, 88, 29, 102],
 219: [69, 90, 100, 38, 102],
 220: [148, 32, 92, 102],
 221: [143, 176, 38, 92],
 222: [148, 32, 92, 102],
 223: [2, 100, 92, 102],
 224: [62, 155, 163, 38, 102],
 225: [143, 20, 29, 102],
 226: [129, 143, 30, 38, 92],
 227: [143, 140, 92, 102],
 228: [143, 176, 92, 102],
 229: [143, 105, 38, 92],
 230: [143, 176, 29, 102],
 231: [90, 100, 92, 102],
 232: [2, 107, 38, 102],
 233: [129, 143, 30, 38, 102],
 234: [143, 176, 38, 102],
 235: [137, 88, 92, 102],
 236: [129, 17, 56, 38, 102],
 237: [143, 140, 69, 38, 92],
 238: [2, 107, 38, 102],
 239: [155, 163, 38, 102],
 240: [143, 114, 38, 92],
 241: [143, 141, 92, 102],
 242: [69, 2, 107, 92, 102],
 243: [90, 100, 92, 102],
 244: [143, 30, 92, 102],
 245: [143, 62, 71, 92, 102],
 246: [90, 100, 38, 102],
 247: [143, 114, 38, 29],
 248: [69, 138, 41, 29, 102],
 249: [138, 41, 162, 38, 102],
 250: [148, 32, 92, 29],
 251: [143, 141, 38, 92],
 252: [90, 100, 92, 102],
 253: [148, 32, 92, 102],
 254: [90, 100, 38, 102],
 255: [155, 119, 92, 29],
 256: [62, 148, 32, 38, 92],
 257: [17, 56, 81, 29],
 258: [143, 30, 81, 92],
 259: [62, 138, 41, 81, 29],
 260: [90, 100, 38, 29],
 261: [137, 88, 81, 92],
 262: [143, 105, 38, 29],
 263: [138, 41, 162, 81, 29],
 264: [143, 176, 38, 81],
 265: [143, 140, 38, 29],
 266: [2, 107, 62, 92, 29],
 267: [143, 20, 38, 29],
 268: [143, 140, 69, 38, 92],
 269: [62, 155, 163, 38, 29],
 270: [148, 32, 81, 92],
 271: [90, 100, 92, 29],
 272: [137, 88, 162, 38, 92],
 273: [143, 114, 81, 29],
 274: [62, 155, 163, 162, 38, 29],
 275: [62, 155, 163, 81, 92],
 276: [90, 100, 38, 81],
 277: [69, 17, 56, 38, 92],
 278: [2, 107, 81, 92],
 279: [138, 41, 38, 81],
 280: [137, 88, 81, 29],
 281: [138, 41, 38, 92],
 282: [143, 30, 69, 162, 81, 29],
 283: [143, 69, 176, 81, 92],
 284: [155, 163, 81, 29],
 285: [143, 114, 38, 29],
 286: [62, 155, 163, 38, 81],
 287: [143, 140, 38, 81],
 288: [143, 176, 6, 81, 92],
 289: [143, 140, 92, 29],
 290: [143, 141, 38, 81],
 291: [90, 100, 81, 92],
 292: [143, 114, 38, 81],
 293: [143, 20, 81, 92],
 294: [155, 119, 38, 81],
 295: [143, 69, 105, 38, 81],
 296: [143, 114, 92, 29],
 297: [129, 143, 30, 81, 92],
 298: [69, 155, 163, 38, 81],
 299: [137, 88, 38, 81],
 300: [155, 119, 81, 92],
 301: [90, 100, 92, 29],
 302: [62, 155, 119, 38, 81],
 303: [143, 140, 81, 92],
 304: [62, 138, 41, 38, 81],
 305: [143, 69, 176, 81, 92],
 306: [143, 62, 105, 38, 81],
 307: [62, 155, 163, 38, 81],
 308: [2, 107, 92, 29],
 309: [2, 32, 81, 92],
 310: [155, 163, 92, 29],
 311: [129, 143, 30, 38, 92],
 312: [143, 176, 92, 102],
 313: [143, 20, 92, 102],
 314: [143, 140, 38, 92],
 315: [90, 100, 29, 102],
 316: [129, 143, 30, 162, 92, 102],
 317: [143, 141, 38, 102],
 318: [143, 114, 38, 102],
 319: [148, 32, 38, 102],
 320: [129, 143, 176, 92, 102],
 321: [62, 90, 100, 38, 102],
 322: [2, 107, 38, 92],
 323: [143, 140, 38, 102],
 324: [138, 41, 38, 102],
 325: [143, 20, 38, 92],
 326: [62, 100, 148, 92, 102],
 327: [137, 88, 162, 92, 102],
 328: [62, 138, 41, 162, 92, 102],
 329: [155, 163, 92, 102],
 330: [90, 100, 92, 102],
 331: [143, 114, 38, 102],
 332: [62, 148, 32, 38, 29],
 333: [143, 71, 29, 102],
 334: [137, 88, 38, 102],
 335: [2, 107, 162, 92, 29],
 336: [155, 163, 38, 92],
 337: [90, 100, 92, 102],
 338: [138, 41, 92, 102],
 339: [143, 141, 38, 102],
 340: [62, 138, 41, 92, 29],
 341: [17, 56, 162, 38, 92],
 342: [143, 30, 81, 29],
 343: [143, 20, 81, 92],
 344: [143, 140, 81, 29],
 345: [155, 163, 162, 81, 29],
 346: [143, 20, 81, 92],
 347: [62, 90, 100, 38, 29],
 348: [143, 114, 81, 29],
 349: [17, 56, 162, 38, 81],
 350: [2, 107, 38, 29],
 351: [143, 30, 92, 29],
 352: [137, 88, 38, 29],
 353: [62, 138, 41, 38, 92],
 354: [62, 148, 32, 38, 29],
 355: [62, 155, 119, 38, 92],
 356: [143, 176, 92, 29],
 357: [155, 163, 38, 92],
 358: [2, 62, 32, 81, 29],
 359: [62, 148, 32, 38, 29],
 360: [143, 141, 81, 92],
 361: [2, 107, 62, 38, 81],
 362: [90, 100, 38, 92],
 363: [62, 155, 119, 81, 92],
 364: [143, 141, 38, 81],
 365: [155, 163, 81, 29],
 366: [143, 30, 38, 92],
 367: [143, 62, 176, 92, 102],
 368: [143, 114, 92, 29],
 369: [143, 105, 38, 102],
 370: [143, 176, 92, 29],
 371: [143, 140, 69, 38, 102],
 372: [129, 143, 30, 92, 102],
 373: [62, 90, 100, 92, 102],
 374: [2, 107, 38, 102],
 375: [143, 20, 92, 102],
 376: [62, 90, 100, 38, 102],
 377: [143, 114, 38, 92],
 378: [90, 100, 38, 102],
 379: [148, 32, 38, 102],
 380: [90, 100, 38, 92],
 381: [148, 32, 92, 29],
 382: [90, 100, 92, 102],
 383: [137, 88, 92, 102],
 384: [143, 141, 92, 102],
 385: [138, 41, 92, 29],
 386: [155, 163, 38, 102],
 387: [137, 88, 29, 102],
 388: [143, 71, 29, 102],
 389: [137, 88, 38, 102],
 390: [138, 41, 92, 102],
 391: [90, 100, 38, 92],
 392: [62, 148, 32, 92, 102],
 393: [62, 155, 163, 92, 102],
 394: [62, 155, 163, 38, 102],
 395: [155, 163, 29, 102],
 396: [143, 71, 38, 92],
 397: [143, 62, 20, 92, 29],
 398: [62, 90, 100, 38, 102],
 399: [17, 56, 92, 102],
 400: [129, 143, 30, 38, 102],
 401: [143, 140, 62, 38, 92],
 402: [62, 137, 88, 92, 29],
 403: [143, 114, 38, 102],
 404: [138, 41, 38, 102],
 405: [17, 56, 38, 92],
 406: [155, 163, 38, 29],
 407: [90, 119, 92, 102],
 408: [143, 20, 38, 102],
 409: [137, 88, 38, 102],
 410: [62, 155, 119, 38, 102],
 411: [90, 119, 92, 29],
 412: [138, 41, 38, 92],
 413: [62, 155, 119, 38, 102],
 414: [143, 141, 38, 102],
 415: [2, 107, 62, 38, 102],
 416: [143, 140, 92, 29],
 417: [62, 155, 163, 38, 92],
 418: [155, 119, 92, 102],
 419: [143, 114, 92, 102],
 420: [17, 56, 38, 29],
 421: [129, 143, 176, 38, 102],
 422: [143, 30, 92, 102],
 423: [143, 140, 69, 92, 102],
 424: [148, 32, 38, 92],
 425: [155, 163, 29, 102],
 426: [143, 114, 92, 102],
 427: [143, 114, 38, 102],
 428: [62, 155, 163, 38, 102],
 429: [148, 32, 38, 102],
 430: [143, 20, 162, 92, 102],
 431: [143, 141, 38, 102],
 432: [143, 114, 38, 92],
 433: [90, 100, 38, 102],
 434: [143, 69, 141, 38, 102],
 435: [2, 119, 38, 92],
 436: [90, 100, 92, 102],
 437: [62, 90, 100, 92, 102],
 438: [137, 142, 92, 102],
 439: [90, 100, 92, 102],
 440: [90, 100, 92, 102],
 441: [138, 41, 38, 102],
 442: [143, 20, 38, 29],
 443: [2, 107, 62, 162, 29, 102],
 444: [2, 107, 38, 102],
 445: [155, 163, 92, 29],
 446: [69, 17, 56, 38, 92],
 447: [62, 155, 163, 162, 92, 102],
 448: [143, 141, 162, 92, 102],
 449: [155, 119, 38, 102],
 450: [90, 100, 92, 29],
 451: [143, 20, 38, 92],
 452: [143, 140, 81, 29],
 453: [143, 114, 81, 92],
 454: [129, 143, 176, 81, 29],
 455: [137, 88, 38, 29],
 456: [129, 143, 30, 81, 92],
 457: [143, 105, 38, 29],
 458: [138, 41, 81, 29],
 459: [143, 20, 38, 81],
 460: [143, 62, 176, 38, 29],
 461: [143, 71, 92, 29],
 462: [69, 138, 41, 162, 38, 29],
 463: [155, 163, 162, 38, 92],
 464: [2, 107, 38, 29],
 465: [2, 107, 38, 92],
 466: [69, 17, 56, 92, 29],
 467: [143, 71, 38, 92],
 468: [2, 107, 162, 81, 29],
 469: [143, 140, 69, 162, 38, 29],
 470: [155, 119, 162, 81, 92],
 471: [155, 119, 38, 81],
 472: [143, 20, 38, 92],
 473: [90, 100, 81, 92],
 474: [148, 32, 38, 81],
 475: [90, 100, 81, 29],
 476: [137, 88, 38, 92],
 477: [155, 119, 81, 29],
 478: [143, 114, 162, 81, 92],
 479: [143, 20, 81, 29],
 480: [62, 155, 119, 38, 29],
 481: [17, 56, 162, 38, 92],
 482: [143, 20, 81, 29],
 483: [2, 107, 81, 92],
 484: [62, 155, 163, 81, 29],
 485: [143, 140, 38, 29],
 486: [143, 114, 81, 92],
 487: [2, 107, 62, 162, 81, 92],
 488: [62, 155, 163, 81, 29],
 489: [62, 155, 119, 38, 81],
 490: [155, 163, 162, 38, 29],
 491: [143, 20, 92, 29],
 492: [143, 105, 38, 29],
 493: [148, 32, 38, 92],
 494: [2, 107, 62, 162, 38, 29],
 495: [143, 114, 162, 38, 92],
 496: [2, 107, 92, 29],
 497: [143, 30, 62, 38, 92],
 498: [143, 140, 69, 81, 29],
 499: [143, 20, 38, 29],
 500: [155, 163, 81, 92],
 501: [155, 119, 38, 81],
 502: [148, 32, 38, 92],
 503: [143, 71, 81, 92],
 504: [90, 100, 38, 81],
 505: [137, 88, 81, 29],
 506: [143, 69, 141, 38, 92],
 507: [90, 100, 81, 29],
 508: [90, 100, 81, 92],
 509: [155, 163, 81, 29],
 510: [148, 32, 38, 29],
 511: [143, 176, 162, 38, 92],
 512: [143, 20, 92, 102],
 513: [143, 176, 38, 92],
 514: [143, 140, 29, 102],
 515: [137, 88, 162, 92, 102],
 516: [143, 30, 38, 102],
 517: [143, 30, 38, 102],
 518: [62, 148, 32, 38, 102],
 519: [143, 30, 92, 102],
 520: [143, 62, 114, 38, 102],
 521: [143, 176, 38, 92],
 522: [62, 155, 119, 162, 38, 102],
 523: [90, 100, 38, 102],
 524: [155, 163, 38, 92],
 525: [2, 107, 92, 102],
 526: [155, 163, 162, 92, 102],
 527: [143, 62, 114, 92, 102],
 528: [143, 62, 71, 92, 102],
 529: [90, 100, 92, 102],
 530: [155, 163, 38, 102],
 531: [143, 71, 38, 29],
 532: [2, 107, 62, 29, 102],
 533: [155, 119, 38, 102],
 534: [155, 163, 92, 29],
 535: [62, 138, 41, 162, 38, 92],
 536: [143, 114, 92, 102],
 537: [90, 100, 92, 102],
 538: [155, 163, 162, 38, 102],
 539: [2, 88, 92, 29],
 540: [62, 90, 100, 38, 92],
 541: [62, 90, 142, 81, 29],
 542: [143, 71, 81, 92],
 543: [155, 119, 81, 29],
 544: [62, 138, 41, 162, 38, 29],
 545: [62, 155, 163, 81, 92],
 546: [69, 2, 107, 162, 38, 29],
 547: [143, 62, 20, 81, 29],
 548: [137, 88, 38, 81],
 549: [143, 141, 38, 29],
 550: [2, 107, 92, 29],
 551: [148, 32, 38, 29],
 552: [143, 114, 38, 92],
 553: [62, 155, 163, 38, 29],
 554: [69, 148, 32, 38, 92],
 555: [143, 62, 114, 92, 29],
 556: [138, 41, 38, 92],
 557: [143, 114, 81, 29],
 558: [62, 90, 100, 38, 29],
 559: [155, 119, 162, 81, 92],
 560: [138, 41, 38, 81],
 561: [62, 90, 100, 38, 92],
 562: [62, 155, 163, 81, 92],
 563: [143, 20, 38, 81],
 564: [148, 32, 81, 29],
 565: [143, 20, 38, 92],
 566: [143, 140, 81, 29],
 567: [143, 30, 81, 92],
 568: [143, 105, 81, 92],
 569: [143, 114, 38, 29],
 570: [143, 62, 114, 81, 92],
 571: [62, 90, 100, 38, 29],
 572: [17, 56, 81, 29],
 573: [143, 114, 38, 81],
 574: [143, 141, 38, 29],
 575: [143, 140, 92, 29],
 576: [2, 107, 162, 38, 29],
 577: [143, 114, 38, 92],
 578: [2, 107, 38, 29],
 579: [143, 30, 38, 92],
 580: [143, 140, 92, 29],
 581: [155, 163, 38, 92],
 582: [62, 137, 88, 81, 29],
 583: [143, 69, 20, 38, 29],
 584: [143, 176, 81, 92],
 585: [155, 119, 38, 81],
 586: [148, 32, 38, 92],
 587: [143, 30, 81, 92],
 588: [137, 88, 38, 81],
 589: [90, 32, 81, 29],
 590: [2, 107, 38, 92],
 591: [62, 155, 163, 81, 29],
 592: [90, 100, 81, 92],
 593: [143, 71, 38, 29],
 594: [143, 30, 69, 38, 29],
 595: [143, 176, 38, 92],
 596: [143, 141, 81, 29],
 597: [143, 105, 81, 92],
 598: [143, 71, 81, 29],
 599: [129, 143, 176, 38, 29],
 600: [143, 176, 81, 92],
 601: [143, 114, 38, 29],
 602: [143, 114, 81, 29],
 603: [143, 30, 38, 81],
 604: [32, 138, 38, 29],
 605: [148, 32, 92, 29],
 606: [155, 163, 38, 29],
 607: [137, 88, 162, 38, 92],
 608: [138, 41, 38, 29],
 609: [62, 138, 41, 38, 92],
 610: [143, 140, 92, 29],
 611: [2, 107, 38, 92],
 612: [90, 100, 81, 29],
 613: [143, 20, 38, 29],
 614: [62, 90, 100, 81, 92],
 615: [148, 32, 38, 81],
 616: [62, 90, 100, 38, 92],
 617: [138, 41, 81, 92],
 618: [143, 114, 38, 81],
 619: [148, 32, 81, 29],
 620: [129, 143, 30, 38, 92],
 621: [155, 163, 81, 29],
 622: [143, 141, 81, 92],
 623: [90, 100, 81, 29],
 624: [155, 163, 38, 29],
 625: [129, 143, 176, 38, 92],
 626: [143, 140, 81, 29],
 627: [137, 88, 162, 81, 92],
 628: [2, 107, 81, 29],
 629: [2, 107, 38, 29],
 630: [143, 140, 81, 92],
 631: [143, 141, 38, 29],
 632: [2, 107, 62, 81, 29],
 633: [138, 41, 38, 81],
 634: [62, 137, 88, 38, 29],
 635: [90, 100, 92, 29],
 636: [62, 155, 163, 38, 92],
 637: [155, 119, 38, 29],
 638: [143, 176, 6, 38, 92],
 639: [143, 140, 92, 29],
 640: [137, 88, 38, 92],
 641: [62, 90, 100, 162, 81, 29],
 642: [2, 32, 38, 29],
 643: [143, 30, 81, 92],
 644: [100, 155, 38, 81],
 645: [2, 32, 38, 92],
 646: [69, 17, 56, 81, 92],
 647: [62, 137, 88, 38, 81],
 648: [90, 100, 81, 29],
 649: [143, 105, 162, 38, 92],
 650: [90, 100, 81, 29],
 651: [90, 100, 81, 92],
 652: [143, 114, 38, 29],
 653: [129, 143, 30, 38, 92],
 654: [143, 140, 62, 81, 92],
 655: [129, 143, 30, 92, 29],
 656: [69, 2, 88, 162, 38, 81],
 657: [62, 90, 100, 162, 38, 92],
 658: [129, 143, 176, 81, 29],
 659: [62, 155, 163, 162, 81, 92],
 660: [2, 62, 142, 38, 81],
 661: [129, 143, 176, 38, 92],
 662: [148, 32, 81, 92],
 663: [138, 41, 38, 81],
 664: [143, 140, 38, 92],
 665: [143, 114, 38, 81],
 666: [32, 138, 38, 81],
 667: [143, 62, 114, 38, 92],
 668: [143, 141, 81, 92],
 669: [155, 119, 162, 81, 92],
 670: [62, 155, 163, 81, 92],
 671: [143, 114, 81, 92],
 672: [62, 100, 148, 81, 92],
 673: [62, 90, 100, 38, 81],
 674: [143, 30, 81, 92],
 675: [90, 100, 81, 92],
 676: [90, 100, 38, 81],
 677: [32, 138, 81, 92],
 678: [2, 107, 38, 92],
 679: [143, 176, 81, 29],
 680: [143, 140, 81, 92],
 681: [90, 100, 81, 29],
 682: [138, 41, 38, 29],
 683: [143, 71, 81, 92],
 684: [129, 143, 30, 38, 29],
 685: [62, 138, 41, 162, 81, 29],
 686: [143, 20, 38, 81],
 687: [90, 100, 38, 29],
 688: [138, 41, 92, 29],
 689: [90, 100, 38, 29],
 690: [143, 71, 38, 92],
 691: [137, 88, 162, 38, 29],
 692: [155, 163, 38, 92],
 693: [62, 90, 119, 92, 29],
 694: [2, 107, 62, 38, 92],
 695: [69, 137, 88, 81, 29],
 696: [62, 155, 119, 38, 29],
 697: [143, 30, 62, 81, 92],
 698: [2, 62, 32, 38, 81],
 699: [143, 71, 162, 38, 92],
 700: [137, 88, 81, 92],
 701: [2, 107, 38, 81],
 702: [138, 41, 81, 29],
 703: [138, 41, 38, 92],
 704: [143, 114, 81, 29],
 705: [143, 140, 81, 92],
 706: [2, 107, 162, 81, 29],
 707: [2, 107, 38, 29],
 708: [143, 30, 162, 38, 92],
 709: [2, 107, 162, 92, 29],
 710: [143, 71, 92, 102],
 711: [129, 143, 30, 38, 92],
 712: [138, 41, 29, 102],
 713: [143, 62, 176, 92, 102],
 714: [62, 155, 163, 38, 102],
 715: [143, 140, 29, 102],
 716: [62, 90, 100, 92, 29],
 717: [90, 100, 92, 102],
 718: [137, 88, 38, 102],
 719: [2, 107, 38, 92],
 720: [155, 119, 162, 38, 102],
 721: [143, 176, 6, 38, 102],
 722: [143, 141, 38, 92],
 723: [90, 119, 92, 102],
 724: [90, 100, 92, 102],
 725: [17, 56, 92, 102],
 726: [143, 140, 92, 102],
 727: [137, 88, 92, 102],
 728: [69, 148, 32, 38, 92],
 729: [2, 107, 38, 102],
 730: [143, 20, 29, 102],
 731: [148, 32, 38, 102],
 732: [90, 100, 92, 29],
 733: [137, 88, 38, 92],
 734: [138, 41, 92, 102],
 735: [143, 114, 92, 29],
 736: [69, 137, 88, 162, 29, 102],
 737: [62, 155, 163, 92, 29],
 738: [143, 30, 62, 38, 81],
 739: [143, 20, 38, 81],
 740: [69, 138, 41, 81, 92],
 741: [143, 62, 88, 92, 29],
 742: [143, 176, 38, 81],
 743: [90, 100, 81, 92],
 744: [143, 69, 20, 38, 81],
 745: [143, 141, 81, 92],
 746: [143, 140, 38, 81],
 747: [138, 41, 38, 81],
 748: [143, 141, 92, 29],
 749: [90, 100, 81, 92],
 750: [17, 56, 38, 81],
 751: [148, 32, 38, 81],
 752: [2, 107, 81, 92],
 753: [2, 107, 92, 29],
 754: [137, 88, 38, 81],
 755: [143, 71, 81, 92],
 756: [143, 114, 38, 81],
 757: [62, 155, 119, 81, 92],
 758: [62, 155, 119, 38, 81],
 759: [129, 143, 176, 38, 81],
 760: [143, 62, 141, 92, 29],
 761: [62, 137, 88, 81, 92],
 762: [62, 155, 163, 92, 29],
 763: [129, 143, 30, 38, 92],
 764: [90, 100, 92, 102],
 765: [143, 141, 92, 102],
 766: [143, 105, 38, 92],
 767: [90, 100, 29, 102],
 768: [129, 143, 30, 92, 102],
 769: [90, 100, 162, 38, 102],
 770: [143, 114, 38, 102],

In [40]:
tmp = train[train['content_type_id'] == 0][['content_id','answered_correctly']]
total_answered = tmp.groupby('content_id').count()
correct_answered = tmp.groupby('content_id').sum()
wrong_answered = total_answered - correct_answered

In [41]:
questions_correctness_df = pd.merge(correct_answered, total_answered , on='content_id')\
                          .rename(columns = {'answered_correctly_x':'right','answered_correctly_y':'total'})
questions_correctness_df['wrong'] = questions_correctness_df.total - questions_correctness_df.right
del questions_correctness_df['total']

In [42]:
#correctness by questions
questions_correctness_df

            right  wrong
content_id
0            6266    637
1            6589    809
2           24890  20015
3           17906   5067
4           19461  12275
...           ...    ...
13518         683    185
13519         528    396
13520         579    282
13521         703    167
13522         786     74

[13523 rows x 2 columns]

In [ ]:
questions_correctness_df.to_csv('question_correctness.csv')

In [43]:
tags_correctness_dict = {}

for i in questions_tag.keys():
    for j in questions_tag[i]:
        if j not in tags_correctness_dict:
            tags_correctness_dict[j] = questions_correctness_df.iloc[i].values
        else:
            tags_correctness_dict[j] += questions_correctness_df.iloc[i].values

In [44]:
tags_correctness_dict

{51: array([257651,  65922]),
 131: array([3561810,  915163]),
 162: array([7056661, 2625291]),
 38: array([12014725,  4781603]),
 36: array([210287,  59112]),
 81: array([9831369, 4111769]),
 101: array([289828,  77641]),
 92: array([12932846,  5881489]),
 149: array([336639,  60334]),
 29: array([8699218, 3701328]),
 5: array([379318, 125044]),
 10: array([1692437,  863822]),
 94: array([299645, 235446]),
 61: array([299649, 121689]),
 110: array([299649, 121689]),
 13: array([155431,  53508]),
 164: array([284665, 161375]),
 99: array([220629,  77228]),
 93: array([456157, 107156]),
 70: array([235726,  58176]),
 9: array([630278, 319556]),
 104: array([369029, 109171]),
 40: array([184338,  42176]),
 130: array([207920,  35788]),
 187: array([215776,  36293]),
 102: array([6283353, 2708398]),
 111: array([180827,  50580]),
 178: array([236103,  88101]),
 143: array([5165286, 2079360]),
 30: array([807312, 333293]),
 90: array([1357071,  593855]),
 100: array([1244951,  521028]),
 176: array([863623, 350983]),
 140: array([840690, 331577]),
 6: array([253554, 188791]),
 2: array([1206072,  521130]),
 107: array([913180, 403312]),
 114: array([703029, 314852]),
 138: array([927676, 391613]),
 41: array([887845, 371138]),
 141: array([489203, 186811]),
 137: array([1530790,  532071]),
 142: array([749802, 231988]),
 119: array([831833, 317705]),
 148: array([852824, 409362]),
 69: array([989913, 337455]),
 62: array([2421128,  918640]),
 155: array([1635660,  663663]),
 163: array([942884, 414141]),
 129: array([665607, 225190]),
 105: array([392740, 125836]),
 71: array([483604, 208597]),
 88: array([975271, 374423]),
 32: array([959088, 475810]),
 20: array([574638, 224583]),
 17: array([607434, 268980]),
 56: array([623120, 273957]),
 74: array([2044475,  922432]),
 136: array([3276801, 1876358]),
 82: array([2012502,  864571]),
 106: array([1634902,  621809]),
 157: array([1059685,  529568]),
 113: array([593843, 303794]),
 161: array([528990, 437853]),
 186: array([5055, 3947]),
 12: array([812201, 389773]),
 103: array([888032, 735926]),
 67: array([967794, 813202]),
 171: array([277607, 110026]),
 144: array([559893, 216708]),
 169: array([297513, 121230]),
 126: array([259859, 125746]),
 158: array([175964,  63881]),
 83: array([134278,  64123]),
 150: array([226602, 102037]),
 183: array([130338,  59931]),
 120: array([150426,  60663]),
 8: array([1284929,  760770]),
 4: array([320363, 178892]),
 166: array([342319, 192397]),
 85: array([267281, 142034]),
 156: array([329587, 163001]),
 53: array([1913709, 1063236]),
 73: array([1930337, 1330862]),
 66: array([324549, 155340]),
 108: array([238296, 234504]),
 173: array([721381, 355662]),
 72: array([405506, 236955]),
 95: array([241316, 105882]),
 7: array([454246, 275066]),
 15: array([190559, 139613]),
 132: array([219435, 184445]),
 180: array([295043, 151399]),
 75: array([252867, 148280]),
 49: array([241791, 174985]),
 55: array([858902, 519632]),
 109: array([628626, 260999]),
 60: array([484301, 271552]),
 125: array([371077, 213661]),
 133: array([459389, 288277]),
 152: array([360106, 267268]),
 181: array([395617, 231771]),
 57: array([136331, 115921]),
 91: array([557318, 346639]),
 96: array([1297177,  792180]),
 116: array([477473, 215904]),
 79: array([773594, 450856]),
 89: array([630093, 371601]),
 47: array([269942, 222170]),
 65: array([300776, 190997]),
 80: array([422337, 325743]),
 43: array([222308, 140572]),
 52: array([365450, 264238]),
 1: array([1465625,  943884]),
 28: array([287350, 224990]),
 177: array([264031,  65533]),
 112: array([100039,  39905]),
 134: array([375580, 257852]),
 123: array([327718, 279187]),
 168: array([360888, 149815]),
 24: array([ 98982, 157631]),
 147: array([612126, 236021]),
 174: array([334639, 246922]),
 14: array([566372, 243737]),
 64: array([363734, 234653]),
 48: array([384051, 235665]),
 128: array([338557, 198050]),
 44: array([262605, 210415]),
 170: array([279262, 206100]),
 179: array([460375, 258054]),
 175: array([257996, 186087]),
 45: array([346933, 143614]),
 78: array([136351,  69114]),
 23: array([204293, 261611]),
 159: array([390539, 227999]),
 31: array([179704, 134698]),
 25: array([255025, 118728]),
 151: array([264913, 272267]),
 34: array([163080, 132342]),
 33: array([277860, 142906]),
 127: array([276374, 135119]),
 172: array([172634,  92556]),
 124: array([154239, 100454]),
 115: array([259528,  69035]),
 26: array([265327, 254876]),
 54: array([244302, 137784]),
 182: array([150552,  65364]),
 167: array([170681, 170386]),
 58: array([187450, 184005]),
 27: array([1761085,  850463]),
 118: array([736602, 299191]),
 42: array([715150, 376697]),
 21: array([1164588,  726175]),
 18: array([350737, 165799]),
 19: array([136367, 173602]),
 97: array([1140152,  586603]),
 184: array([201482,  86576]),
 16: array([622944, 277083]),
 84: array([709110, 292322]),
 50: array([407525, 397264]),
 154: array([89911, 33503]),
 122: array([1383821,  647422]),
 39: array([248467, 158779]),
 145: array([287486, 151917]),
 98: array([741096, 280790]),
 76: array([262073, 102724]),
 35: array([850984, 412212]),
 117: array([152975,  88637]),
 146: array([268904, 129943]),
 160: array([668214, 313547]),
 77: array([101587,  25998]),
 135: array([717991, 312843]),
 185: array([139311,  53187]),
 37: array([288855, 118686]),
 153: array([85245, 34155]),
 22: array([129434,  56828]),
 0: array([204656, 122023]),
 11: array([54822, 50100]),
 46: array([61711, 56631]),
 87: array([138706,  53818]),
 121: array([56222, 21005]),
 139: array([87353, 27938]),
 63: array([63742, 19956]),
 68: array([104000,  16378]),
 3: array([187107, 103171]),
 165: array([19271, 13670]),
 59: array([23070, 10575]),
 86: array([2001, 1366])}

In [45]:
tags_correctness_df = pd.DataFrame.from_dict(tags_correctness_dict, orient='index')
tags_correctness_df

            0        1
51     257651    65922
131   3561810   915163
162   7056661  2625291
38   12014725  4781603
36     210287    59112
..        ...      ...
68     104000    16378
3      187107   103171
165     19271    13670
59      23070    10575
86       2001     1366

[188 rows x 2 columns]

In [ ]:
tags_correctness_df.to_csv('tags_correctness.csv')

In [46]:
part_question_id

   part                                        question_id
0     1  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1     2  [196, 197, 198, 199, 200, 201, 202, 203, 204, ...
2     3  [1400, 1401, 1402, 1403, 1404, 1405, 1406, 140...
3     4  [2554, 2555, 2556, 2557, 2558, 2559, 2560, 256...
4     5  [3549, 3550, 3551, 3552, 3553, 3554, 3555, 355...
5     6  [6481, 6482, 6483, 6484, 6485, 6486, 6487, 648...
6     7  [6928, 6929, 6930, 6931, 6932, 6933, 6934, 693...

In [47]:
questions_correctness_df

            right  wrong
content_id
0            6266    637
1            6589    809
2           24890  20015
3           17906   5067
4           19461  12275
...           ...    ...
13518         683    185
13519         528    396
13520         579    282
13521         703    167
13522         786     74

[13523 rows x 2 columns]

In [48]:
part_correctness_dict = {}
for i in range(1,8):
    for j in part_question_id.iloc[i-1].question_id:
        if i not in part_correctness_dict:
            part_correctness_dict[i] = questions_correctness_df.iloc[j].values
        else:
            part_correctness_dict[i] += questions_correctness_df.iloc[j].values

In [49]:
part_correctness_df = pd.DataFrame.from_dict(part_correctness_dict, orient='index')
part_correctness_df

          0         1
1   5553896   1900674
2  13283339   5460065
3   6060514   2579393
4   5090684   2976992
5  24957570  15950583
6   7029563   3471909
7   3269061   1687057

In [ ]:
part_correctness_df.to_csv('part_correctness.csv')

### Difficulty

In [50]:
questions_correctness_df = questions_correctness_df[questions_correctness_df['wrong'] + questions_correctness_df['right'] > 2]
questions_correctness_df['correct_rate'] = questions_correctness_df['right'] / (questions_correctness_df['right'] + questions_correctness_df['wrong'])
tags_correctness_df['correct_rate'] = tags_correctness_df[0] / (tags_correctness_df[0] + tags_correctness_df[1])
part_correctness_df['correct_rate'] = part_correctness_df[0] / (part_correctness_df[0] + part_correctness_df[1])

/home/hangyu/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
questions_correctness_df

            right  wrong  correct_rate
content_id
0            6266    637      0.907721
1            6589    809      0.890646
2           24890  20015      0.554281
3           17906   5067      0.779437
4           19461  12275      0.613215
...           ...    ...           ...
13518         683    185      0.786866
13519         528    396      0.571429
13520         579    282      0.672474
13521         703    167      0.808046
13522         786     74      0.913953

[13514 rows x 3 columns]

In [52]:
tags_correctness_df

            0        1  correct_rate
51     257651    65922      0.796269
131   3561810   915163      0.795584
162   7056661  2625291      0.728847
38   12014725  4781603      0.715319
36     210287    59112      0.780578
..        ...      ...           ...
68     104000    16378      0.863945
3      187107   103171      0.644579
165     19271    13670      0.585016
59      23070    10575      0.685689
86       2001     1366      0.594298

[188 rows x 3 columns]

In [53]:
part_correctness_df

          0         1  correct_rate
1   5553896   1900674      0.745032
2  13283339   5460065      0.708694
3   6060514   2579393      0.701456
4   5090684   2976992      0.630998
5  24957570  15950583      0.610088
6   7029563   3471909      0.669388
7   3269061   1687057      0.659601

In [56]:
##30 hardest question_id
thirty_hardest_question_id = questions_correctness_df.nsmallest(30, 'correct_rate')
thirty_hardest_question_id
# thirty_hardest_question_id.to_csv('thirty_hardest_question_id.csv')

            right   wrong  correct_rate
content_id
10062         683    6761      0.091752
7639          845    7554      0.100607
3125         1381    8776      0.135965
9220         1789   10570      0.144753
7487         1391    8028      0.147680
10924         607    3473      0.148775
10095         952    5180      0.155251
2063        28716  147327      0.163119
10061        1151    5629      0.169764
6531         1187    5793      0.170057
11231        1430    6844      0.172831
10239        1236    5738      0.177230
2596         2392   11034      0.178162
10172        1074    4914      0.179359
8981          922    4139      0.182177
9547         1274    5675      0.183336
8697          986    4378      0.183818
10901         750    3276      0.186289
3095           74     320      0.187817
10727        1707    7294      0.189646
10191        1479    6255      0.191234
11585         360    1522      0.191286
10759        1037    4372      0.191718
7396         1318    5535      0.192325
11173        1471    6130      0.193527
7604         1190    4944      0.194001
6614         3219   13157      0.196568
11640         263    1071      0.197151
8986         1291    5237      0.197763
3878        23846   95594      0.199648

In [57]:
##30 easiest question_id
thirty_easiest_question_id = questions_correctness_df.nlargest(30, 'correct_rate')
thirty_easiest_question_id
# thirty_easiest_question_id.to_csv('thirty_easiest_question_id.csv')

            right  wrong  correct_rate
content_id
3572            5      0      1.000000
4741           18      0      1.000000
7548           11      0      1.000000
7549           11      0      1.000000
7566           14      0      1.000000
7568           15      0      1.000000
7850           20      0      1.000000
12615         148      0      1.000000
12806         140      0      1.000000
12809         148      0      1.000000
12923         144      0      1.000000
12949         125      0      1.000000
12745         184      1      0.994595
12803         178      1      0.994413
12836         175      1      0.994318
12919         161      1      0.993827
12834         152      1      0.993464
12735         150      1      0.993377
10626        5677     42      0.992656
12515         221      2      0.991031
10440        5678     54      0.990579
13122         100      1      0.990099
13159          98      1      0.989899
13171          96      1      0.989691
1679         6874     74      0.989349
12644         180      2      0.989011
12742         160      2      0.987654
12720         159      2      0.987578
12805         158      2      0.987500
12642         157      2      0.987421

In [58]:
##30 hardest tag_id
thirty_hardest_tag_id = tags_correctness_df.nsmallest(30, 'correct_rate')
thirty_hardest_tag_id
# thirty_hardest_tag_id.to_csv('thirty_hardest_tag_id.csv')

          0       1  correct_rate
24    98982  157631      0.385725
23   204293  261611      0.438487
19   136367  173602      0.439938
151  264913  272267      0.493155
167  170681  170386      0.500432
108  238296  234504      0.504010
58   187450  184005      0.504637
50   407525  397264      0.506375
26   265327  254876      0.510045
46    61711   56631      0.521463
11    54822   50100      0.522502
123  327718  279187      0.539982
57   136331  115921      0.540456
132  219435  184445      0.543317
67   967794  813202      0.543400
103  888032  735926      0.546832
161  528990  437853      0.547131
47   269942  222170      0.548538
34   163080  132342      0.552024
44   262605  210415      0.555167
94   299645  235446      0.559989
28   287350  224990      0.560858
186    5055    3947      0.561542
80   422337  325743      0.564561
31   179704  134698      0.571574
6    253554  188791      0.573204
152  360106  267268      0.573989
170  279262  206100      0.575368
174  334639  246922      0.575415
15   190559  139613      0.577151

In [59]:
##30 easiest tag_id
thirty_easiest_tag_id = tags_correctness_df.nlargest(30, 'correct_rate')
thirty_easiest_tag_id
# thirty_easiest_tag_id.to_csv('thirty_easiest_tag_id.csv')

           0        1  correct_rate
68    104000    16378      0.863945
187   215776    36293      0.856020
130   207920    35788      0.853152
149   336639    60334      0.848015
40    184338    42176      0.813804
93    456157   107156      0.809775
70    235726    58176      0.802056
177   264031    65533      0.801152
51    257651    65922      0.796269
77    101587    25998      0.796230
131  3561810   915163      0.795584
115   259528    69035      0.789888
101   289828    77641      0.788714
111   180827    50580      0.781424
36    210287    59112      0.780578
104   369029   109171      0.771704
142   749802   231988      0.763709
63     63742    19956      0.761571
139    87353    27938      0.757674
105   392740   125836      0.757343
5     379318   125044      0.752075
129   665607   225190      0.747204
69    989913   337455      0.745771
13    155431    53508      0.743906
137  1530790   532071      0.742071
99    220629    77228      0.740721
158   175964    63881      0.733657
162  7056661  2625291      0.728847
154    89911    33503      0.728532
178   236103    88101      0.728254

### Machine Learning Part

In [63]:
train = train[['row_id', 'user_id', 'answered_correctly', 'content_id', 'prior_question_had_explanation']]

In [64]:
train['prior_question_had_explanation'] = train['prior_question_had_explanation'].astype('bool')

In [ ]:
user_df.to_csv('correctness_by_user_id.csv')

In [66]:
%%time
#adding user features
user_df = train[train.answered_correctly != -1].groupby('user_id').agg({'answered_correctly': ['count', 'mean']}).reset_index()
user_df.columns = ['user_id', 'user_questions', 'user_mean']

user_lect = train.groupby(["user_id", "answered_correctly"]).size().unstack()
user_lect.columns = ['Lecture', 'Wrong', 'Right']
user_lect['Lecture'] = user_lect['Lecture'].fillna(0)
user_lect = user_lect.astype('Int64')
user_lect['watches_lecture'] = np.where(user_lect.Lecture > 0, 1, 0)
user_lect = user_lect.reset_index()
user_lect = user_lect[['user_id', 'watches_lecture']]

user_df = user_df.merge(user_lect, on = "user_id", how = "left")
del user_lect
user_df.head()

CPU times: user 10.1 s, sys: 5.18 s, total: 15.2 s
Wall time: 15.3 s

   user_id  user_questions  user_mean  watches_lecture
0      115              46   0.695652                0
1      124              30   0.233333                0
2     2746              19   0.578947                1
3     5382             125   0.672000                1
4     8623             109   0.642202                1

In [67]:
%%time
#adding content features
content_df = train[train.answered_correctly != -1].groupby('content_id').agg({'answered_correctly': ['count', 'mean']}).reset_index()
content_df.columns = ['content_id', 'content_questions', 'content_mean']

CPU times: user 7.35 s, sys: 1.31 s, total: 8.66 s
Wall time: 9.96 s

In [68]:
def merge_fill_na(df):
    df = df.merge(user_df, on = "user_id", how = "left")
    df = df.merge(content_df, on = "content_id", how = "left")
    df['content_questions'].fillna(0, inplace = True)
    df['content_mean'].fillna(0.5, inplace = True)
    df['watches_lecture'].fillna(0, inplace = True)
    df['user_questions'].fillna(0, inplace = True)
    df['user_mean'].fillna(0.5, inplace = True)
    df[['content_questions', 'user_questions']] = df[['content_questions', 'user_questions']].astype(int)
    return(df)

In [69]:
train = merge_fill_na(train)
train.sample(5)

,row_id,user_id,answered_correctly,content_id,prior_question_had_explanation,user_questions,user_mean,watches_lecture,content_questions,content_mean
82067606,82067606,1747127567,1,939,True,3090,0.760518,1,25310,0.687791
65241416,65241416,1387611853,0,6155,True,9508,0.524821,1,44756,0.549893
23930986,23930986,511371303,1,3633,True,1430,0.660839,1,22906,0.681437
49918972,49918972,1057550460,1,13391,True,1826,0.647317,1,863,0.786790
24401305,24401305,522311169,0,1867,True,1179,0.646310,1,12675,0.482604

In [ ]:
train = train[:5000000]

In [70]:
X = train[['user_id', 'content_id', 'prior_question_had_explanation', 'user_questions', 'user_mean', 'watches_lecture', 'content_questions', 'content_mean' ]]
y = train['answered_correctly']

In [71]:
X['prior_question_had_explanation'] = X['prior_question_had_explanation'].astype('bool')

/home/hangyu/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [73]:
import lightgbm as lgb

In [74]:
params = {'objective': 'binary',
          'metric': 'auc',
          'seed': 2020,
          'learning_rate': 0.1, #default
          "boosting_type": "gbdt" #default
         }

In [75]:
lgb_train = lgb.Dataset(X_train, y_train, categorical_feature = ['watches_lecture'])
lgb_eval = lgb.Dataset(X_val, y_val, categorical_feature = ['watches_lecture'])

In [76]:
%%time
model = lgb.train(
    params, lgb_train,
    valid_sets=[lgb_train, lgb_eval],
    verbose_eval=50,
    num_boost_round=10000,
    early_stopping_rounds=8
)

/home/hangyu/anaconda3/envs/cudf_py37/lib/python3.7/site-packages/lightgbm/basic.py:1551: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Info] Number of positive: 52197470, number of negative: 28786795
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 1.428690 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1534
[LightGBM] [Info] Number of data points in the train set: 80984265, number of used features: 8

/home/hangyu/anaconda3/envs/cudf_py37/lib/python3.7/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/home/hangyu/anaconda3/envs/cudf_py37/lib/python3.7/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.644538 -> initscore=0.595117
[LightGBM] [Info] Start training from score 0.595117
Training until validation scores don't improve for 8 rounds

LightGBMError: Check failed: (best_split_info.left_count) > (0) at /__w/1/s/python-package/compile/src/treelearner/serial_tree_learner.cpp, line 651 .

In [ ]:
import matplotlib.pyplot as plt
lgb.plot_importance(model)
plt.show()

In [ ]:
#we can do a A B test for group of users, if they have answered questions correctly given 
#if they have watched lectures before

In [ ]:
#This is whole dataset
#Correctness by user?
#Correctness by question_id?
#Correctness by task?

In [ ]:
#f = by_user + by_question

In [ ]:
#build a classifier

In [ ]:
# questions
# lectures

In [ ]:
#Which features should be included in the model
#difficulty by questions and tags (continous number)
#prior_question_elapsed * if answered correctly

In [ ]:
#from train data, user's behavior with different level's questions. #match level
#user level

In [60]:
X=train.sort_values(['user_id'])
y = X[["answered_correctly"]]
X = X.drop(["answered_correctly"], axis=1)

In [61]:
# train and test 
from sklearn.model_selection import train_test_split
#(test_df, sample_prediction_df) = next(iter_test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [62]:
# load models
from sklearn.model_selection import StratifiedKFold, cross_validate
import lightgbm as lgb

light = lgb.LGBMClassifier()

from sklearn.linear_model import LogisticRegression

light.fit(X_train, y_train)
light.score(X_test, y_test)

/home/hangyu/anaconda3/envs/cudf_py37/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.6950533152567457